.favFormStyle {
  padding: 10;
  margin: auto;
  display: block;
  font-family: Comic Sans MS;
  color: white;
  text-align: center;
}

.submitStyle {
  padding: 10;
  margin: auto;
  display: block;
  font-family: Comic Sans MS;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: Transparent;
}
